/* Mobile
-------------------- */
@media (max-width: var(--phone-width)) {
  body {
    font-size: 14px;
    line-height: 21px;
    padding-top: calc(var(--base-padding) * 2);
  }
  .global-header {
    .title,
    .description {
      margin-bottom: var(--base-margin);
    }
  }
  .content {
    .body {
      img {
        width: 100%;
      }
    }
    .posts {
      .date {
        display: block;
      }
    }
  }
}
