/* Print
-------------------- */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
  a,
  a:hover {
    color: #000;
    text-decoration: underline;
    text-decoration-style: dashed;
  }
  .header {
    margin-bottom: 0;
  }
  .header .description {
    display: none;
  }
  .content {
    .body {
      img {
        background-color: #fff;
        border: 0;
        border-radius: 0;
        padding: 0;
      }
    }
  }
  .body .astro-code {
    code,
    & {
      white-space: pre-wrap;
    }
  }
  .highlight {
    background-color: #fff !important;
    border-radius: 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
}
