---
const year = new Date().getFullYear()
---

<footer class="global-footer">
  <p class="copyright">© {year} Atsushi Nagaki</p>
  <address>
    <a href="https://github.com/nagaki" title="Github">Github</a>
    <a href="mailto:atsushi@nagaki.me" title="Email Contact">Email</a>
  </address>
</footer>
