---
import { getCollection } from "astro:content";
import Lists from "@components/Lists.astro";
import { groupByYear } from "@utils/common";
import Layout from "../../layouts/Layout.astro";

const allPractices = await getCollection("diary");

const posts = groupByYear([...allPractices]);
---

<Layout title="ALLAURMONO" description="ひびのできごとなどをたまにかきます">
  <main class="content diary">
    <h1>home</h1>
    <Lists posts={posts} />
  </main>
</Layout>
