---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <main class="content default">
    <article>
      <h1>{frontmatter.title}</h1>
      <div class="body">
        <slot />
      </div>
    </article>
  </main>
</Layout>
